<div class="bg-img">
  <form class="form-container" (ngSubmit)="onSignup(f)" #f="ngForm">

    <h3>注册</h3>
    <mat-form-field>
      <input matInput placeholder="电子邮件" name="email" required ngModel email>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="密码" name="password" required ngModel>
    </mat-form-field>

    <label class="remember-me">
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> 记住我
    </label>

    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="bottom-button">
      <button mat-raised-button color="primary" routerLink="/signin">取消</button>
      <button mat-raised-button color="accent" [disabled]="!f.valid">注册</button>
    </div>
  </form>
</div>
