.online-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  width: 80%;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
