.lesson-article {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 15px 10%;
}

.article-title {
  align-self: center;
}

.source-code {
  width: auto;
  background-color: #fff;
  word-wrap: break-word;
}

pre {
  border-left: 3px solid #4CAF50;
}
