<div class="split left">
  <div>
    <p>Given an input string, reverse the string word by word.</p>
    <br><br>
    <p><strong>作业 1: </strong></p>
    <pre>
      <strong>input: </strong>" Hello World!  "
      <strong>output: </strong>"Hello World!"
      <strong>Explanation: </strong>
      fruits = ["apple", "banana", "cherry"]
      print(fruits)
    </pre>

    <p><strong>Example 2:</strong></p>
    <pre>
      <strong>input: </strong>" Hello World!  "
      <strong>output: </strong>"Hello World!"
      <strong>Explanation: </strong>
      Your reversed string should not contain leading or trailing spaces.
    </pre>
  </div>
  <br><br>
  <p>
    <strong>Note:</strong>
  </p>
  <ul>
    <li>A word is defined as a sequence of non-space characters.</li>
    <li>A word is defined as a sequence of non-space characters.</li>
    <li>A word is defined as a sequence of non-space characters.</li>
  </ul>
  <br>

  <p>
    <strong>Follow up:</strong>
  </p>
  <p>
    For C programmers, try to solve it <em>in-place</em> in <em>O</em>(1) extra space.
  </p>
</div>

<div class="split right">
  <textarea name="name" rows="8"
    placeholder="Enter your answer here:"
    class="form-control" #ans>
  </textarea>
  <button type="button" name="button" class="btn btn-primary">Submit</button>
</div>
