<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="login(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">email:</label>
          <input type="text" id="email" name="email" class="form-control" ngModel>
        </div>
        <div class="form-group">
          <label for="password">password:</label>
          <input type="text" id="password" name="password" class="form-control" ngModel>
        </div>
        <button type="submit" name="button" class="btn btn-primary"
        [disabled]="!f.valid">Login</button>
      </form>
    </div>
  </div>
</div>
