<div class="bg-img">
  <form (ngSubmit)="login(f)" #f="ngForm" class="form-container">
    <div class="form-group">
      <label for="email">email:</label>
      <input type="text" id="email" name="email" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="password">password:</label>
      <input type="password" id="password" name="password" class="form-control" ngModel>
    </div>
    <button type="submit" name="button" class="btn"
    [disabled]="!f.valid">登录</button>
    <a routerLink="/signup">立即注册</a>
  </form>
</div>
