<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt=""
    class="img-responsive"
    style="max-height: 200px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>{{ recipe.name }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="button-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li style="cursor:pointer"><a (click)="addToShopList()" style="cursor: point;">Add</a></li>
        <li style="cursor:pointer;"><a (click)="editRecipe()">Edit</a></li>
        <li style="cursor:pointer;"><a (click)="deleteRecipe()">Delete</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
