a {
  text-decoration: none;
  cursor: pointer;
}

.what-you-get-content {
  background-color: #f9f9f9;
  border: 1px solid #dedfe0;
  padding: 10px 15px;
  width: 90%;
}
.what-you-learn_items {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* otherwise at the same line*/
}

.what-you-learn_item {
  display: flex; /*make check mark and text */
  margin-bottom: 10px;
  width: 45%;
}

.what-you-learn_item > span {
  padding-left: 10px;
}

a.content-header {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.content-minus {
  display: none;
}

.lectures-container {
  width: 90%;
  display: none;
}

.lecture-container {
  display: flex;
  justify-content: space-between;
}

.lecture-left {
  display: flex;

}
