<p>{{ course.courseName }}</p>
<div class="what-you-get-content">
  <div class="what-you-learn_title">What you'll learn</div>
  <ul class="what-you-learn_items">
    <li class="what-you-learn_item" *ngFor="let courseContent of courseContents;">
        <i class="fa fa-check"></i>
        <span>{{ courseContent.contentDescription }}</span>
    </li>
  </ul>
</div>

<h3>Course content</h3>
<div class="course-content">
  <div class="course-lecture" *ngFor="let lecture of courseLectures; let i = index;">
    <a class="content-header" (click)="toggleLectures()">
      <div class="content-header_left">
        <span>
          <span class="content-plus" #content_plus>+</span>
          <span class="content-minus" #content_minus>-</span>
        </span>
        <span>{{ lecture.lectureName }}</span>
      </div>
      <div>
        <span>3 lectures</span>
        <span>12:28</span>
      </div>
    </a>

    <div class="lectures-container" #lectures_container>
      <div class="lecture-container" *ngFor="let lecturePart of lecture.lectureParts;">
        <div class="lecture-left">
          <span class="lecture-left_play">
            <svg class="bi bi-play-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="orange"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
           </svg>
          </span>
          <div class="lecture-left_top">
            <div class="lecture-description">
            </div>
            <div class="lecture-title">
              <a>{{ lecturePart.partName }}</a>
              <a class="arrow-down">
                <span>down arrow</span>
              </a>
            </div>
          </div>

        </div>

        <div class="lecture-detail">
          <a><span *ngIf="lecturePart.preview">Preview</span></a>
          <span>{{ lecturePart.length }}</span>
        </div>
      </div>
    </div>

  </div>
</div> <!-- course content -->

<nav class="nav-bottom">
    <!-- <img src="/assets/img/python.jpg" class="navbar-bottom-image"> -->
    <div>
      <div style="margin-right: 15px;">
        <span>30-Day Money-Back Guarantee</span>
      </div>
      <button type="button" name="button" class="btn btn-danger" style="margin-right: 15px;">
        <span>加入购物车</span>
      </button>
      <button type="button" name="button" class="btn btn-danger">
        <span>立即购买</span>
      </button>
  </div>
</nav>
