.bg-img {
  /* The image used */
  background-image: url("/assets/img/bar3.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: white;
  opacity: 1;
  width: 30%;
}

mat-form-field {
  width: 100%;
}

.remember-me {
  align-self: flex-start;
}

/* Set a style for all buttons */
button {
  color: white;
  margin: 8px 4px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.bottom-button {
  display: flex;
  width: 90%;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
/* .cancelbtn {
  padding: 14px 20px;
} */

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
