<div class="hero-image">
  <div class="hero-text">
    <h2 style="font-size:50px">一对一在线定制编程教育</h2>
    <br><br>
    <p>咨询免费领取<strong>50元</strong>定制课程</p>
    <button (click)="openChat()">立即咨询</button>
  </div>
</div>

<div class="chat-popup" #chatPopup>
    <div class="chat-popup_title">
      <span class="chat-popup_title_1"><a> 电话 </a></span>
      <span class="chat-popup_title_2">chat</span>
      <span class="chat-popup_title_3"><a (click)="miniChat()"> X </a></span>
    </div>
    <div>
      <div class="container">
        <img src="/assets/img/avatar_g2.jpg" alt="Avatar" style="width:50%;">
        <p style="color: #008CBA;">test</p>
        <span class="time-right">11:00</span>
      </div>
      <div class="container darker">
        <p>client</p>
        <span class="time-left">11:01</span>
    </div>
  </div>
  <input type="text" name="words" class="form-control"
    #box (keyup.enter)="onEnter(box.value)">
</div>
