<div class="hero-image">
  <div class="hero-text">
    <h2 style="font-size:50px">一对一在线定制编程教育</h2>
    <br><br>
    <p>咨询免费领取<strong>50元</strong>定制课程</p>
    <button (click)="openChat()">立即咨询</button>
  </div>
</div>

<nav class="nav-bottom">
    <!-- <img src="/assets/img/python.jpg" class="navbar-bottom-image"> -->
    <div>
      <div style="margin: 10px;">
        <span>免费试听</span>
      </div>
      <div style="margin: 10px;">
        <input type="text" placeholder="Enter your name">
      </div>
      <div style="margin: 10px;">
        <input type="text" placeholder="Enter your email">
      </div>
      <button type="button" name="button" class="btn btn-danger">
        <span>试听</span>
      </button>
  </div>
</nav>
