.hero-image {
  background-image: url("/assets/img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* TODO: don't know height: 50% not working */
  height: 500px;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: DodgerBlue;
}

.hero-text button {
  font-size: 24px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: LightYellow;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 5px #999;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.hero-text button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* side bar */

.icon-bar {
  position: fixed;
  right: 0;
  bottom: 30%;
  z-index: 8;
  background-color: #FFEBCD;
}

.icon-bar .side-item {
  margin: 10px 5px;
  width: 80px;
  text-align: center;
}

.icon-bar img {
  width: 100%;
  display: block;
}

.active {
  background-color: #4CAF50;
}

/*  bottom navbar */
.navbar-bottom-image {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.navbar-bottom-text {
  display: inline-block;
  color: white;
}

.nav-bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #FFEBCD;
  height: 50px;
}

.nav-bottom > div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

/* chat */

.chat-popup {
  background: LightYellow;
  display: none;
  position: fixed;
  bottom: 5px;
  height: 500px;
  left: 5px;
  z-index: 9;
  border: 3px solid #f1f1f1;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 5px 5px;
}

.chat-popup_title {
  height: 25px;
}

.chat-popup_title_1 {
  position: absolute;
  left: 5px;
}

.chat-popup_title_2 {
  position: absolute;
  text-align: center; /* these two lines place it in the middle */
  width: 100%;
}

.chat-popup_title_3 {
  position: absolute;
  right: 5px;
}

.chat-popup_title a {
  text-decoration: none;
  cursor: pointer;
}

.chat-popup > input {
  position: absolute;
  max-width: 300px;
  border: 2px solid green;
  bottom: inherit;
}

.chat-popup > input:hover,
.chat-popup > input:focus {
  background-color: DodgerBlue;
}


.container {
  background-color: #f1f1f1;
  padding: 10px;
  max-width: 300px;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 50px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
