.course-sys-top {
  position: relative;
  text-align: center;
  color: white;
}

.course-sys-top-title {
  position: absolute;
  top: 8px;
  left: 45%;
}

.course-sys-top-centered {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.row a {
  text-decoration: none;
}

a:hover {
  color: #ff1b68;
}

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.video-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*course*/
.course {
  display: flex;
  cursor: pointer;
  width: 80%;
  margin: 10px auto;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
