
<!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <a routerLink="/courses/python">
        <span class="glyphicon glyphicon-off logo-small"></span>
        <h4>Python编程</h4>
        <p>Python编程入门，进阶和算法</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/courses/junior">
        <span class="glyphicon glyphicon-heart logo-small"></span>
        <h4>Java编程</h4>
        <p>Java编程入门，进阶和算法</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="https://us04web.zoom.us/j/3280742030?pwd=NnhXR0h4aE15SkdNRC80QWkwbEp6UT09">
        <span class="glyphicon glyphicon-lock logo-small"></span>
        <h4>C++编程</h4>
        <p>C++编程入门，进阶和算法</p>
      </a>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <a routerLink="/university">
        <span class="glyphicon glyphicon-leaf logo-small"></span>
        <h4>大学计算机课程辅导</h4>
        <p>算法，数据结构 & SQL</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/courses/interview">
        <span class="glyphicon glyphicon-certificate logo-small"></span>
        <h4>工作面试算法辅导</h4>
        <p>Java, Python, javascript, bash programming</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="cicd">
        <span class="glyphicon glyphicon-wrench logo-small"></span>
        <h4 style="color:#303030;">CI/CD</h4>
        <p>Docker, K8S, Jenkins</p>
      </a>
    </div>
  </div>
</div>

<section>
  <div>
    <div>
      <h3>International</h3>
      <div>
        课程直通
      </div>
      <div>
        国际标准
      </div>
      <div>
        6-大学全覆盖
      </div>

    </div>
  </div>
</section>

<section>
  <div>
    <div class="course">
      <div class="col-sm-5">
        <img src="/assets/img/course-scratch.png" alt="">
      </div>
      <div class="col-sm-4">
        <div>Scratch</div>
        <div>description</div>
        <div>long</div>
      </div>

    </div>
    <div class="course" routerLink="/courses/python">
      <div class="col-lg-7">
        <img src="/assets/img/course-python.png" alt="">
      </div>
      <div class="col-lg-5">
        <div>Python</div>
        <div>desc</div>
        <div>long desc</div>
      </div>
    </div>
    <div class="course">
      <div class="col-lg-7">
        <img src="/assets/img/course-java.jpg" alt="">
      </div>
      <div class="col-lg-5">
        <div>Java</div>
        <div>des</div>
        <div>detail</div>
      </div>
    </div>
    <div class="course">
      <div class="col-sm-7">
        <img src="/assets/img/course-cplus.png" alt="">
      </div>
      <div class="col-sm-5">
        <div>C++</div>
        <div>Study algorithm</div>
        <div>long article</div>
      </div>
    </div>
  </div>
</section>


<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>
