
<!-- Container (Services Section) -->
<!-- <div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <a routerLink="/courses/python">
        <span class="glyphicon glyphicon-off logo-small"></span>
        <h4>Python编程</h4>
        <p>Python编程入门，进阶和算法</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/courses/junior">
        <span class="glyphicon glyphicon-heart logo-small"></span>
        <h4>Java编程</h4>
        <p>Java编程入门，进阶和算法</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="https://us04web.zoom.us/j/3280742030?pwd=NnhXR0h4aE15SkdNRC80QWkwbEp6UT09">
        <span class="glyphicon glyphicon-lock logo-small"></span>
        <h4>C++编程</h4>
        <p>C++编程入门，进阶和算法</p>
      </a>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <a routerLink="/university">
        <span class="glyphicon glyphicon-leaf logo-small"></span>
        <h4>大学计算机课程辅导</h4>
        <p>算法，数据结构 & SQL</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/courses/interview">
        <span class="glyphicon glyphicon-certificate logo-small"></span>
        <h4>工作面试算法辅导</h4>
        <p>Java, Python, javascript, bash programming</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="cicd">
        <span class="glyphicon glyphicon-wrench logo-small"></span>
        <h4 style="color:#303030;">CI/CD</h4>
        <p>Docker, K8S, Jenkins</p>
      </a>
    </div>
  </div>
</div> -->
<section>
  <div class="course-sys-top">
    <img src="http://ymfcn.yangmifeng.com/YMFcn/img/2-1/banner.jpg" alt="Snow" style="width:100%;">
    <div class="course-sys-top-title">
      <h1>三重星级保障</h1>
      <h3>打破你对学费的所有顾虑</h3>
      <img src="/assets/img/five.png" alt="">
    </div>
    <div class="course-sys-top-centered">
      <div>
        <img src="/assets/img/card.png" alt="">
        <h3>零元上课</h3>
        <span>先学后付</span>
      </div>
      <div>
        <img src="/assets/img/mf.png" alt="">
        <h3>免费专属视频</h3>
        <span>课件资料，可反复听</span>
      </div>
      <div>
        <img src="/assets/img/gh.png" alt="">
        <h3>不满意可更换老师</h3>
        <span>或退款</span>
      </div>
    </div>
</div>
</section>

<section style="background-color: #f8f8e6">
  <div>
    <h3>International</h3>
    <div class="video-container">
      <div class="video-intro">
        <video width="100%" controls>
          <source src="/assets/video/lovelifetime.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
        <div class="video-ear">
          <div class="video-ear-text-1">
            <svg class="bi bi-play-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="orange"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
           </svg>
            课程介绍
          </div>
          <div class="video-ear-text-2">
            <svg class="bi bi-play" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
            </svg>
            上课视频
          </div>
        </div>
      </div>
      <div class="video-side">
        other stuff
      </div>
    </div>
  </div>
</section>

<section style="background-color: #fff3e9">
  <div class="courses">
    <div class="course">
      <div>
        <img src="/assets/img/course-scratch.png" alt="">
      </div>
      <div>
        <h1>Scratch图形编程</h1>
        <p>让0基础学员爱上编程的启蒙课</p>
        <p>通过积木式编程语言激发孩子的学习积极性，用兴趣学习抽象的编程和数学知识，每节课都可以通过编程完成艺术和游戏作品，
          提升逻辑能力和创造力，培养良好的学习习惯。</p>
      </div>
    </div>
    <div class="course" routerLink="/courses/python">
      <div>
        <img src="/assets/img/course-python.png" alt="">
      </div>
      <div>
        <h1>Python程序设计</h1>
        <p>在AI时代的浪潮中领先一步</p>
        <p>Python是大数据和人工智能时代的流行编程语言，被浙江省纳入高考科目。为了让孩子更方便地理解真正的代码语言，
          铜豌豆设计Python课程，通过艺术图形作品和游戏交互，让孩子们深入掌握编程技能，进一步提升逻辑力与创造力，
          打下扎实的代码编写功底。 </p>
      </div>
    </div>

    <div class="course">
      <div>
        <img src="/assets/img/course-cplus.png" alt="">
      </div>
      <div>
        <h1>C++算法竞赛</h1>
        <p>学习数据结构与算法，在奥赛中崭露头角</p>
        <p>结合青少儿认知思维发展，研发8岁都可以理解的C++课程，通过项目作品与思维导图结合，让孩子直通CSP课程（原NOIP奥赛）。
          铜豌豆多年竞赛办学经验，拥有业内屈指可数的师资团队，将成为学员参加竞赛的重要助力。</p>
      </div>
    </div>
  </div>
</section>


<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>
