.course-sys-top {
  position: relative;
  text-align: center;
  color: white;
}

.course-sys-top-title {
  position: absolute;
  top: 8px;
  left: 45%;
}

.course-sys-top-centered {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.row a {
  text-decoration: none;
}

a:hover {
  color: #ff1b68;
}


.course-category {
  display: flex;
  flex-direction: row;
  margin: 24px 36px;
}

.course-category_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  cursor: pointer;
}




.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.video-container {
  display: flex;
  justify-content: space-around;
}
.video-intro {
  position: relative;
  background-color: blue;
  width: 60%;
}

.video-ear {
  position: absolute;
  top: 0;
  right: -42px;
  display: flex;
  flex-direction: column;
}

.video-ear-text-1 {
  writing-mode: vertical-rl;
  background-color: #ffd235;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}

.video-ear-text-2 {
  writing-mode: vertical-rl;
  cursor: pointer;
  padding: 5px;
}

div.video-ear-text-1 > svg:hover {
  fill: blue;
}


.video-side {
  width: 30%;
  background-color: green;
  margin-left: 30px;
}

.course {
  display: flex;
  cursor: pointer;
  width: 80%;
  margin: 10px auto;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
