<section>
  <div class="course-sys-top">
    <img src="http://ymfcn.yangmifeng.com/YMFcn/img/2-1/banner.jpg" alt="Snow" style="width:100%;">
    <div class="course-sys-top-title">
      <h1>三重星级保障</h1>
      <h3>打破你对学费的所有顾虑</h3>
      <img src="/assets/img/five.png" alt="">
    </div>
    <div class="course-sys-top-centered">
      <div>
        <img src="/assets/img/card.png" alt="">
        <h3>零元上课</h3>
        <span>先学后付</span>
      </div>
      <div>
        <img src="/assets/img/mf.png" alt="">
        <h3>免费专属视频</h3>
        <span>课件资料，可反复听</span>
      </div>
      <div>
        <img src="/assets/img/gh.png" alt="">
        <h3>不满意可更换老师</h3>
        <span>或退款</span>
      </div>
    </div>
</div>
</section>

<section class="course-category">
  <div>
    <img src="/assets/img/tablesetting.jpg" alt="">
  </div>
  <div>
    <div class="course-category_text"  routerLink="/courses/scratch">
      <h1>Scratch图形编程</h1>
      <p>让0基础学员爱上编程的启蒙课</p>
      <p>通过积木式编程语言激发孩子的学习积极性，用兴趣学习抽象的编程和数学知识，每节课都可以通过编程完成艺术和游戏作品，
        提升逻辑能力和创造力，培养良好的学习习惯。</p>
    </div>

    <div class="course-category_text"  routerLink="/courses/scratch">
      <h1>Scratch图形编程</h1>
      <p>让0基础学员爱上编程的启蒙课</p>
      <p>通过积木式编程语言激发孩子的学习积极性，用兴趣学习抽象的编程和数学知识，每节课都可以通过编程完成艺术和游戏作品，
        提升逻辑能力和创造力，培养良好的学习习惯。</p>
    </div>
  </div>
</section>

<section class="course-category" id="python">
  <div>
    <div class="course-category_text"  routerLink="/courses/bootcamp">
      <h1>Python程序设计</h1>
      <p>在AI时代的浪潮中领先一步</p>
      <p>Python是大数据和人工智能时代的流行编程语言，被浙江省纳入高考科目。为了让孩子更方便地理解真正的代码语言，
        铜豌豆设计Python课程，通过艺术图形作品和游戏交互，让孩子们深入掌握编程技能，进一步提升逻辑力与创造力，
        打下扎实的代码编写功底。 </p>
    </div>
    <br>
    <div class="course-category_text" routerLink="/courses/python_gaming">
      <h1>Python程序设计</h1>
      <p>在AI时代的浪潮中领先一步</p>
      <p>Python是大数据和人工智能时代的流行编程语言，被浙江省纳入高考科目。为了让孩子更方便地理解真正的代码语言，
        铜豌豆设计Python课程，通过艺术图形作品和游戏交互，让孩子们深入掌握编程技能，进一步提升逻辑力与创造力，
        打下扎实的代码编写功底。 </p>
    </div>
    <br>
    <div class="course-category_text" routerLink="/courses/python_algorithm">
      <h1>Python算法面试</h1>
      <p>本课程帮助软件求职者顺利通过软件的算法面试</p>
      <p>在面试软件开发相关的工作职位时，算法的设计和实现是考核一个求职者必不可少的环境，也是面试中最难的部分。
         很多科技公司在正式跟你面谈之前，先让你做两道算法题，通过了之后才会正式启动面试进程。算法面试是技术面试
         最核心的部分，在这部分的表现直接决定了面试的最终结果。
      </p>
    </div>
  </div>
  <div>
    <img src="/assets/img/tablesetting.jpg" alt="">
  </div>
</section>

<section class="course-category">
  <div>
    <img src="/assets/img/tablesetting.jpg" alt="">
  </div>
  <div>
    <div class="course-category_text"  routerLink="/courses/java_stream">
      <h1>Java语言</h1>
      <p>Java语言是历史最悠久的语言之一，广泛地应用在互联网，嵌入式设备中。是最主流的编程语言之一。</p>
      <p>Java 也是计算机编程大赛的指定语言之一。Java在现在的世界里可以说是无处不在。</p>
    </div>

    <div class="course-category_text"  routerLink="/courses/advanced_Java">
      <h1>Java语言</h1>
      <p>Java语言是历史最悠久的语言之一，广泛地应用在互联网，嵌入式设备中。是最主流的编程语言之一。</p>
      <p>Java 也是计算机编程大赛的指定语言之一。Java在现在的世界里可以说是无处不在。</p>
    </div>
  </div>
</section>

<section class="course-category">
  <div>
    <div class="course-category_text"  routerLink="/courses/cplus">

    </div>
    <br>
    <div class="course-category_text" routerLink="/courses/python_gaming">
      <h1>C++编程</h1>
      <p>学习数据结构与算法</p>
      <p>C++是计算机众多语言种比较靠近硬件的编程语言。由于可以对CPU中的寄存器等中央处理器的逻辑部件直接进行操作。当对软件
      要高性能的要求时，经常会选择C++作为实现软件的语言。C++是计算机编程大赛的指定语言之一。</p>
    </div>
    <br>
    <div class="course-category_text" routerLink="/courses/cplus">
      <h1>C++编程</h1>
      <p>学习数据结构与算法</p>
      <p>C++是计算机众多语言种比较靠近硬件的编程语言。由于可以对CPU中的寄存器等中央处理器的逻辑部件直接进行操作。当对软件
      要高性能的要求时，经常会选择C++作为实现软件的语言。C++是计算机编程大赛的指定语言之一。</p>
    </div>
  </div>
  <div>
    <img src="/assets/img/tablesetting.jpg" alt="">
  </div>
</section>

<section class="course-category">
  <div>
    <img src="/assets/img/tablesetting.jpg" alt="">
  </div>
  <div>
    <div class="course-category_text"  routerLink="/courses/cplus">

    </div>
    <br>
    <div class="course-category_text" routerLink="/courses/python_gaming">

    </div>
    <br>
    <div class="course-category_text" routerLink="/courses/cplus">
      <h1>计算机算法编程竞赛</h1>
      <p>学习算法设计和分析，在奥赛中崭露头角</p>
      <p>计算机的算法设计和分析是计算机最难的部分，没有之一。只有拥有坚实的数学知识，缜密的逻辑思维能力，才可能设计出高效，
        正确的软件算法来解决难题。
        铜豌豆多年竞赛办学经验，拥有业内屈指可数的师资团队，将成为学员参加竞赛的重要助力。</p>
    </div>
  </div>
</section>
