<div class="container-fluid">
  <div class="image-container">
    <div class="text">CCC</div>
  </div>
  <br><br>
  <p>The Canadian Computing Competition (CCC) is a fun challenge for secondary school students with an
    interest in programming. It is an opportunity for students to test their ability in designing, understanding
     and implementing algorithms. </p>
  <ul>
    <li>
      <strong>Junior Level:</strong>
      <p> any student with elementary programming skills</p>
    </li>
    <li>
      <strong>Senior Level:</strong>
      <p>
        any student with intermediate to advanced programming skills
      </p>
    </li>
  </ul>

  <p><strong>Note:</strong> Any student may choose to write any level (Junior or Senior) of the contest.</p>

</div>
