<div class="online-class">
  <h3>点击进入直播课堂</h3>
  <table>
    <tr>
      <th>课程名称</th>
      <th>上课时间</th>
      <th>任课老师</th>
      <th>直播课堂</th>
    </tr>
    <tr>
      <td>Python</td>
      <td>每星期三晚上7点</td>
      <td>岑文泉</td>
      <td>
        <a href="https://us04web.zoom.us/j/3280742030?pwd=NnhXR0h4aE15SkdNRC80QWkwbEp6UT09" target="_blank">
          进入课程直播间
        </a>
      </td>
    </tr>
    <tr>
      <td>C++</td>
      <td>每星期五下午六点</td>
      <td>陈明明</td>
      <td>
        <a href="https://us04web.zoom.us/j/3280742030?pwd=NnhXR0h4aE15SkdNRC80QWkwbEp6UT09" target="_blank">
          进入课程直播间
        </a>
      </td>
    </tr>
  </table>
</div>
