<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/" class="navbar-brand">铜豌豆软件教育</a>
    </div>
    <!-- class="collapse navbar-collapse" -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/courses">课程体系</a></li>
        <li routerLinkActive="active"><a routerLink="/courses/python">python</a></li>
        <li routerLinkActive="active"><a routerLink="/courses/junior">中小学编程</a></li>
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
        <li routerLinkActive="active"><a routerLink="/blog">博客</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!isAuthenticated()">
          <li><a routerLink="/checkout">下单</a></li>
          <li><a routerLink="/signin">登录</a></li>
        </ng-template>
        <li class="dropdown" appDropdown *ngIf="isAuthenticated()">
          <a class="dropdown-toggle" role="button">
            Manage <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a style="cursor:pointer;"
              (click)="storeData()">Save data</a></li>
            <li><a style="cursor:pointer;"
                (click)="fetchData()">Fetch data</a></li>
          </ul>
        </li>
        <li><a *ngIf="isAuthenticated()" (click)="logout()"
          style="cursor: pointer;">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<nav class="fixed-sidebar">
  <div class="sidebar-item">
    <div class="active side-item">
      <img src="/assets/img/python.jpg" class="test">
      <span>电话</span>
    </div>
    <div class="side-pop">
      416-5592-3183
    </div>
  </div>

  <div class="sidebar-item">
    <div class="side-item">
      <img src="/assets/img/python.jpg">
      <span>微信</span>
    </div>
    <div class="side-pop">
      <img src="/assets/img/wechat.png">
    </div>
  </div>

  <div class="sidebar-item">
    <div class="side-item">
      <img src="/assets/img/python.jpg">
      <span>在线咨询</span>
    </div>
    <div class="side-pop">
      <img src="/assets/img/avatar_g2.jpg">
    </div>
  </div>
</nav>

<div class="chat-popup" #chatPopup>
    <div class="chat-popup_title">
      <span class="chat-popup_title_1"><a> 电话 </a></span>
      <span class="chat-popup_title_2">chat</span>
      <span class="chat-popup_title_3"><a (click)="miniChat()"> X </a></span>
    </div>
    <div style="overflow-y:scroll; overflow-x:hidden; height:100px;"
     *ngFor="let chatmsg of chatmsgs; let i = index">
      <div class="container" *ngIf="chatmsg.name==='biz'">
        <img src="/assets/img/avatar_g2.jpg" alt="Avatar" style="width:20%;">
        <p style="color: #008CBA;">{{ chatmsg.content }}</p>
        <span class="time-right">11:00</span>
      </div>
      <div class="container darker" *ngIf="chatmsg.name==='cus'">
        <p>{{ chatmsg.content }}</p>
        <span class="time-left">11:01</span>
    </div>
  </div>
  <input type="text" name="words" class="form-control"
    #box (keyup.enter)="onEnter(box.value)">
</div>
