/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}

/* side bar */

nav.fixed-sidebar {
  position: fixed;
  right: 0;
  bottom: 30%;
  background-color: #FFEBCD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

nav.fixed-sidebar > .sidebar-item {
  display: flex;
  width: 80px;
  flex-direction: row;
}

.side-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-pop {
  position: absolute;
  display: none;
  border: 3px solid red;
  width: 120px;
}

div.side-pop > img {
  width: 100%;
}

div.side-item > img {
  width: 100%;
}

div.sidebar-item:hover .side-pop {
  display: block;
  left: -120px;
}

.active {
  background-color: #4CAF50;
}

/* chat */

.chat-popup {
  background: LightYellow;
  display: none;
  position: fixed;
  bottom: 5px;
  height: 500px;
  left: 5px;
  z-index: 9;
  border: 3px solid #f1f1f1;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 5px 5px;
}

.chat-popup_title {
  height: 25px;
}

.chat-popup_title_1 {
  position: absolute;
  left: 5px;
}

.chat-popup_title_2 {
  position: absolute;
  text-align: center; /* these two lines place it in the middle */
  width: 100%;
}

.chat-popup_title_3 {
  position: absolute;
  right: 5px;
}

.chat-popup_title a {
  text-decoration: none;
  cursor: pointer;
}

.chat-popup > input {
  position: absolute;
  max-width: 300px;
  border: 2px solid green;
  bottom: inherit;
}

.chat-popup > input:hover,
.chat-popup > input:focus {
  background-color: DodgerBlue;
}


.container {
  background-color: #f1f1f1;
  padding: 10px;
  max-width: 300px;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 50px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
