.course-card {
  max-width: 400px;
}

.course-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.course-preview {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
}

.course-preview-content {
  position: absolute;
  top: 10%;
  left: 30%;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}


a {
  text-decoration: none;
  cursor: pointer;
}

.what-you-get-content {
  background-color: #f9f9f9;
  border: 1px solid #dedfe0;
  padding: 10px 15px;
  width: 90%;
}

.what-you-learn_items {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* otherwise at the same line*/
}

.what-you-learn_item {
  display: flex; /*make check mark and text */
  margin-bottom: 10px;
  width: 45%;
}

.what-you-learn_item > span {
  padding-left: 10px;
}

.course-content {
  border: 1px solid #dedfe0;
}

.course-lecture {
  margin-bottom: 15px;
}

a.content-header {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.content-header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-minus {
  display: none;
}

.lectures-container {
  width: 90%;
  display: none;
  margin-bottom: 5px;
}

.lecture-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #dedfe0;
}

.lecture-left {
  display: flex;
  align-items: center;
}

.lecture-left_play {
  display: flex;
  align-items: center;
}

.lecture-title {
  display: flex;
  vertical-align: middle;
  cursor: pointer;
}

.lecture-title-disabled {
  display: flex;
  vertical-align: middle;
}

div.lecture-title {
  font-size: 17px;
}

div.lecture-description {
  font-weight:lighter;
  font-style: italic;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #39CCCC;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 16px;
  background-color: #001f3f;
  color: white;
  font-size: 18px;
}

.modal-body {
  padding: 0;
  background-color: black;
}

.text-modal-body {
  background-color: white;
  height: 400px;
}

/* p.success {
  background-color: #ddffdd;
  border-left: 5px solid #4CAF50;
} */

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #001f3f;
  color: white;
}


/*  bottom navbar */
.nav-bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: #FFEBCD;
  height: 50px;
  width: 100%;
  z-index: 5;
}

.nav-bottom > div {
  display: flex;
  align-self: center;
  align-items: center;
}
