<div class="row content">
  <div class="col-sm-3 sidenav">
    <h4>江南春</h4>
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a routerLink="/me">Home</a></li>
      <li><a routerLink="/current">现有课程</a></li>
      <li><a routerLink="/pending">预约课程</a></li>
      <li><a routerLink="/history">已完成课程</a></li>
    </ul><br>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Blog..">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>

  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div>
